.config-modal {
    width: 75%;
    height: 80%;
    display: flex;
}

.accounts-modal {
    width: 60%;
    max-height: 80%;
    display: flex;
}

.crud-account-modal {
    width: 40%;
    display: flex;
}

.p-dialog-content {
    display: flex;
    height: 100%;
}
