.o-drop__menu {
    border: 1px solid var(--black-background-800);
    border-radius: 8px;
    padding: 0;
}

.o-drop__item{
    color: var(--white-text);
    transition: all .2s ease;
    margin: .5em;
    border-radius: 8px;
}
    .o-drop__item:hover {
        color: var(--white-text) !important;
        transition: all .2s ease;
    }