@import '@oruga-ui/theme-oruga/dist/oruga.css';
@import '@mdi/font/css/materialdesignicons.min.css';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

  #main-app {
    overflow-y: scroll;
    margin-top: var(--titlebar-height);
    height: calc(100vh - var(--titlebar-height)) ;
  }

  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: var(--white-text);
    background-color: #0f0f0f;
  
  
    --black-background-600: #6D6D6D;
    --black-background-700: #5A5A5A;
    --black-background-800: #3B3B3B;
    --black-background-850: #1E1E1E;
    --black-background-900: #1B1B1B;
  
    --red-stroke: #D7003D;
    --red-stroke-hover: #ec1e59;
    --red-fill: #371720;

    --close-app-hover: #bd29537e; 
  
    --white-text: #e9e9e9;

    --oruga-focus: #3d3d3d15;

    --sb-track-color: #272727;
    --sb-thumb-color: #494949;
    --sb-size: 12px;

    --titlebar-height: 42px;

    --primary-50: #feeaf0;
    --primary-100: #feeaf0;
    --primary-200: #fdcbd6;
    --primary-300: #ef95a1;
    --primary-400: #e56a7c;
    --primary-500: #f2425d;
    --primary-600: #f92246;
    --primary-700: #e91444;
    --primary-800: #d7003d;
    --primary-900: #ca0035;
    --primary-950: #bc0029;

    --primary-dark-900: #371720;

    --surface-0: #f9f9f9;
    --surface-50: #f9f9f9;
    --surface-100: #f4f4f4;
    --surface-200: #ececec;
    --surface-300: #dddddd;
    --surface-400: #b9b9b9;
    --surface-500: #9a9a9a;
    --surface-600: #717171;
    --surface-700: #5d5d5d;
    --surface-800: #3f3f3f;
    --surface-900: #1e1e1e;
    --surface-950: #1B1B1B;

  }

  * {
    
    --p-form-field-hover-border-color: #F0D;
  }
  
  a {
    color: var(--red-stroke) ;
    text-decoration: underline;
    transition: all ease .2s;
  }
    a:hover {
      color: var(--red-stroke-hover);
      transition: all ease .2s;
    }
  
  .icon-white {
    color: var(--white-text);
  }
  
  .icon-grey {
    color: var(--black-background-600);
  }

  .base-container {
    background-color: var(--black-background-900);
    border: 1px solid var(--black-background-800);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
    padding: 0.5em 1em;
}


.toast-notification {
  text-align: center;
  box-shadow:
      0 1px 4px rgb(0 0 0 / 12%),
      0 0 6px rgb(0 0 0 / 4%);
  border-radius: 12px;
  padding: 0.75em 3em 0.75em 1em;
  pointer-events: auto;
  color: var(--white-text);
  background: var(--black-background-850);
  border: 1px solid var(--black-background-600);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  --oruga-notification-animantion: toast-animation .1s ease;
}
  .toast-notification .o-notification__close {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding-right: .5em;
    background-color: transparent;
    color: var(--white-text);
    
  }

.disabled {
  cursor: unset !important; 
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--surface-900) inset;
}
.container {
  min-height: 88vh;
  background-color: var(--black-background-850);
  background-image: url(../assets/bg-simple-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titlebar {
  height: var(--titlebar-height);
  background: var(--black-background-850);
  border-bottom: 1px solid var(--black-background-800);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 4px;
  padding: .2em;
  margin: .5em 0;
  transition: all ease .2s;
}


  .titlebar-button i {
    font-size: .8em ;
  }

.titlebar-button:hover {
  background: var(--black-background-800);
  transition: all ease .2s;
}

.titlebar-button:nth-last-child(1):hover {
  background-color: var(--close-app-hover);
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}