@import '@oruga-ui/theme-oruga/dist/oruga.css';
@import '@mdi/font/css/materialdesignicons.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast-animation{
  from {
    transform: translate(100%,0);
  }

  to {
    transform: translate(0,0);
  }
}
  
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: var(--white-text);
    background-color: #0f0f0f;
  
  
    --black-background-600: #6D6D6D;
    --black-background-700: #5A5A5A;
    --black-background-800: #3B3B3B;
    --black-background-850: #1E1E1E;
    --black-background-900: #1B1B1B;
  
    --red-stroke: #D7003D;
    --red-fill: #371720;
  
    --white-text: #e9e9e9;

    --oruga-focus: #3d3d3d15;
  }
  
  a {
    color: var(--red-stroke) ;
    text-decoration: underline;
  }
  
  .icon-white {
    color: var(--white-text);
  }
  
  .icon-grey {
    color: var(--black-background-600);
  }

  .base-container {
    background-color: var(--black-background-900);
    border: 1px solid var(--black-background-800);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
    padding: 0.5em 1em;
}


.toast-notification {
  text-align: center;
  box-shadow:
      0 1px 4px rgb(0 0 0 / 12%),
      0 0 6px rgb(0 0 0 / 4%);
  border-radius: 12px;
  padding: 0.75em 3em 0.75em 1em;
  pointer-events: auto;
  color: var(--white-text);
  background: var(--black-background-850);
  border: 1px solid var(--black-background-600);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  --oruga-notification-animantion: toast-animation .1s ease;
}
  .toast-notification .o-notification__close {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding-right: .5em;
    background-color: transparent;
    color: var(--white-text);
    
  }

.disabled {
  cursor: unset !important; 
}