.p-menu-item.alert {
    --p-menu-item-color: var(--alert);
    --p-menu-item-focus-color: var(--alert);
    --p-menu-item-icon-color: var(--alert);
    --p-menu-item-icon-focus-color: var(--alert);
}
